# misc
.DS_Store
*.pem

#logs
logs/
*.log

# cache
.idea
/.vscode/
.eslintcache
.husky
.npm

# dependencies
node_modules
.pnp
.pnp.js

# directories
dist/
build/
coverage/

# Generated configs
.eslintignore
.eslintrc.js
.prettierignore
prettier.config.js
*.tsbuildinfo

# local env files
.env

# turbo
.turbo
