.Users-title {
  font-size: 1rem;
  margin-top: 0;
}

.Users-code-block {
  background-color: #f8f8f8;
  padding: 0.875rem;
  font-size: 0.75rem;
}

.form-control {
  display: grid;
  grid-template-columns: max-content;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.375rem;
}

.form-control input {
  padding: 0.375rem;
}

button {
  border: none;
  background-color: cornflowerblue;
  padding: 0.5rem 0.75rem;
  color: #fff;
  cursor: pointer;
}

.user-card {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  padding: 10px;
  margin-block: 10px;
}

.user-card button {
  background-color: crimson;
}
